---
layout: default
title: Home
---
<div class="flex-container">
   
 <div class="sidenav">
   {% include sidebarexample.html %}
   {% assign Tblclass = "," | split: "," %}
   {% include buttoncreator.html %}
   
   <center>
   <button onclick='hideAll()'>Remove filters</button></center>

</div>
   <div class="content">


{% include collapse.html %}
{% include analytics.html %}



{% for t in site.data.Qual %}
   {% assign Tblclass= Tblclass | push: t.Tags %}
{% endfor %}

{% assign Tblclass= Tblclass | sort | uniq | join:" " %}

{% include mainsection.html %}

</div>
