---
layout: default
title: Home
---
<div class="flex-container">
   <div class="content">
<!--{% include sidebarexample.html %}-->


{% include collapse.html %}
{% include buttoncreator.html %}
{% include analytics.html %}

{% assign Tblclass = "," | split: "," %}
<center>
<button onclick='hideAll()'>Remove filters</button></center>


{% for t in site.data.Qual %}
   {% assign Tblclass= Tblclass | push: t.Tags %}
{% endfor %}

{% assign Tblclass= Tblclass | sort | uniq | join:" " %}

## Formal Qualifications
<table>
<thead>
  <tr>
    <th>Degree</th>
    <th>Institute</th>
    <th>Year Completed</th>
  </tr>
</thead>
<tbody>    
{% for t in site.data.Qual %}
    <tr class="{{ t.Tags | join:" " }}">
    <td>{{ t.name }}
       {% if t.SubQuals %}
       <details><summary>See Details</summary>
         {% for SubQual in t.SubQuals %}
            - {{ SubQual }}<br>
         {% endfor %}
       </details>
       {% endif %}
       </td>
    <td>{{ t.institute }}</td>
    <td>{{ t.Completed }}</td>
  </tr>
{% endfor %}

</tbody>
  </table>

## Employment History
<table>
<thead>
  <tr>
    <th>Role</th>
    <th>Institute</th>
    <th>Year</th>
  </tr>
</thead>
<tbody>    
{% for t in site.data.EmpHist %}
    <tr class="{{ t.Tags | join:" " }}">
    <td>{{ t.Role }}
       {% if t.SubRoles %}
       <details><summary>See Details</summary>
         {% for SubRole in t.SubRoles %}
            - {{ SubRole }}<br>
         {% endfor %}
       </details>
       {% endif %}
       {{ t.Responsibilties }}
       </td>
    <td>{{ t.Institute }}</td>
    <td>{{ t.Yrs }}</td>
  </tr>
{% endfor %}
   </tbody>
  </table>
</div>
</div>
