{% include collapse.html %}


{% assign alltags = "," | split: "," %}
{% for tg in site.data.Qual %}
    {% for individTags in tg.Tags %}
        {% if individTags != "All" %}
            {% assign alltags = alltags | push:individTags %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% for tg in site.data.Projects %}
    {% for individTags in tg.Tags %}
        {% if individTags != "All" %}
            {% assign alltags = alltags | push:individTags %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% for tg in site.data.EmpHist %}
    {% for individTags in tg.Tags %}
        {% if individTags != "All" %}
            {% assign alltags = alltags | push:individTags %}
        {% endif %}
    {% endfor %}
{% endfor %}



{% assign alltags = alltags | sort | uniq %}

<p>Filter by skill subset: </p><centre>
<left>

<script>
  let js_array =[];
  {% for item in alltags %}
     alltagsarray.push({{item}});
  {% endfor %}
</script>
    
{% for each in alltags %}
    <label class="toggle">
    <input id='tog_{{ each }}' name='TopicToggle' class="toggle-checkbox" type="checkbox" value='True' onchange='hideTableLine("{{ each }}");Highlighttags("{{ each }}",alltagsarray);'>
    <div class="toggle-switch"></div>
    <span class="toggle-label">{{ each }}</span>
    </label>
 
{% endfor %}
</left>
