{% include collapse.html %}


{% assign alltags = "," | split: "," %}
{% for allyml in site.data %}
{% for tg in allyml %}
    {% for individTags in tg.Tags %}
        {% if individTags != "All" %}
            {% assign alltags = alltags | push:individTags %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endfor %}

{% assign alltags = alltags | sort | uniq %}

<p>Filter by skill subset: </p><centre>
<left>
{% for each in alltags %}
    <label class="toggle">
    <input name='TopicToggle' class="toggle-checkbox" type="checkbox" value='True' onchange='hideTableLine("{{each}}")'>
    <div class="toggle-switch"></div>
    <span class="toggle-label">{{each}}</span>
    </label>
 
{% endfor %}
</left>
