<br>
<h2>Career Objectives</h2>
<br><br>
I am a versatile and forward-thinking professional, with over a decade of experience in research, software
engineering and eResearch within the university sector. I am a natural communicator and collaborator, which has seen
me succeed in research, teaching, project delivery and acting leadership roles. I am led by my curiosity, with proven
ability to problem solve and drive strategic change through innovation, both within data and tech roles, as well as more
broadly across organisations and communities.
<br>
