

<script>
  
// style="font-weight:800"
  // style="color:#403e3e"
  // to select not class document.querySelector("tr:not([class])")
 
var selectedtopics = [];  
  
function hideAll() {
  var TablesNames = document.querySelectorAll(element='table'); 
  for(var Tabindex=0;Tabindex < TablesNames.length;Tabindex++){
    for (var row=0;row < TablesNames[Tabindex].rows.length;row++){
      //TablesNames[Tabindex].rows[row].style.display = "none";
      TablesNames[Tabindex].rows[row].style = null;
    }
  }
  const togswitch = Array.from(document.getElementsByClassName("toggle-checkbox"));
  togswitch.forEach(ts => {
    ts.checked=false;
  });
selectedtopics = [];
  
} 
    

function hideTableLine(divname) {
  shadeAllElse();
  if (selectedtopics.includes(divname)){
    selectedtopics.pop(divname);  
  }else{
    selectedtopics.push(divname);  
  }
  for(eachtopic of selectedtopics){
    var className = document.getElementsByClassName(eachtopic);
    for(var index=0;index < className.length;index++){
        var item=className[index];
        item.style="font-weight: 800;";
        }
  }
}  
  
  
  
function shadeAllElse(){
  var allEls = document.getElementsByClassName(['All']);
  for(var el=0; el < allEls.length; el++){
        allEls[el].style="color:#403e3e";
    }
}
  

  
</script>
