<h2>Group Placement</h2>
<br>
{% for t in site.data.GroupPlacement %}
<div class="{{ t.Tags | join:" " }}" id="{{ t.id }}">
  <h4>{{ t.Institute }}</h4>
  <div style="text-align: right; vertical-align: top;" >
  {{ t.Year }}
  <br>
  </div>
  {{ t.Desc }}
  <br><br>
<b>Acknowledged Contributions:</b>
<br>
<table style="width: 100%;text-align: left;">
<br>
<tbody>    
{% for p in t.Examples %}
    <tr class="{{ t.Tags | join:" " }}" >
    <td><a href="{{ p.url }}">{{ p.title }}</a></td>
    <td></td>
    <td style="vertical-align: top;">{{ p.authors }}<br></td>
    <td></td>
    <td style="vertical-align: top;">{{ p.year }} - {{ p.where }}</td>
  </tr>
{% endfor %}
   </tbody>
  </table>

</div>
<br>
<br><br>
{% endfor %}
