<h2>Group Placement</h2>
<br>
{% for t in site.data.GroupPlacement %}
<div class="{{ t.Tags | join:" " }}" id="{{ t.id }}">
  <h4>{{ t.Institute }}</h4>
  <div style="text-align: right; vertical-align: top;" >
  {{ t.Year }}
  <br>
  </div>
  {{ t.Desc }}
  <br>
Acknowledged Contributions:
<br>
<table style="width: 100%;text-align: left;">
<!--thead>
  <tr style="text-align:left; vertical-align: top;">
    <th style="width:20%">Workshop Title</th>
    <th style="width:2%">  </th>
    <th style="width:55%">Content</th>
    <th style="width:3%">  </th>
    <th style="width:20%">Hosted</th>
  </tr>
</thead-->
<br>
<tbody>    
{% for p in t.id %}
    <tr class="{{ t.Tags | join:" " }}" >
    <td><a href="{{ p.url }}"><b>{{ p.title }}</b></a></td>
    <td></td>
    <td style="vertical-align: top;">{{ p.authors }}</td>
    <td></td>
    <td style="vertical-align: top;">{{ p.year }} - {{ p.where }}</td>
  </tr>
{% endfor %}
   </tbody>
  </table>

</div>
<br>
<br>
{% endfor %}
