<h2>Strategic design and implementation</h2>

<h6>Throughout my career, I have proposed, advocated and lead changes to improve our university, our local community and the eResearch field.</h6>
<br><br>

<h5>Data science upskilling programs across Griffith and Queensland universities</h5>
<br>
During my work in Bioinformatics, I found there was no support for researchers to learn how to deal with large amounts of data, or needing to learn data science. This was reflected in groups of researchers reaching out when I became a programmer, and sharing the same experiences. I established <a href="#WorkshopAnchor">numerous workshops</a> to meet these needs, and started the "Hacky Hours" to support researchers outside of these workshops. Along with my counterparts at other Qld universities, we also started the Qld Research Bazaar conference, where we could share expertise across all Queensland universities. The model was adapted from a similar program seen at UniMelb, customized to fit our needs. Workshops and Hacky Hours were adopted by <a href="#EH4">QCIF</a> for other partner Universities as the program was shown to be beneficial.
<br><br>
<div class="" id="Strat1" style="margin-left: 30px;">
  <table style="width: 100%;">
      <tr style="text-align: left; ">
      <td style="vertical-align: top;">
        <h5>Hacky Hour</h5>
      </td>
    <td style="text-align: right;" >
  2015-ongoing
  </td></tr>
  </table>
  <br>
  A meetup/helpdesk for researchers starting in the data science field.
  <br><br><b>Details:</b><br>
  <br>
  This initiative was set up to compliment the release of 'Intro to Programming for Researchers' classes. We started as support for the programming workshops but became the place researchers came to ask about machine learning, high performance compute, large data storage, where to start in their data science education and assistance with debugging code. 
  <br><br>
  <b>My Role in Project:</b>
  <br>
<ul>
  <li>Creating initial proposal</li>
  <li>Implementation from start until 2022</li>
  <li>Trobleshooting code errors and open source scripts</li>
  <li>Guiding researchers to the most relevant resources</li>
  <li>Connecting researchers with other resources across the university</li>
  <li>Sharing knowledge with other universities</li>
  <li>Using Feedback to lead changes, to suit our growing needs</li>
  <li>Started a coordinators group to share learnings, help each other out</li>
  <li>Shared my learnings on how to <a href="https://github.com/amandamiotto/HackyHourHandbook">start a Hacky Hour group</a></li>
  <li>Published and ongoing curation of <a href="https://amandamiotto.github.io/HackyHourBookmarks/">Hacky Hour Bookmarks</a> for researchers and colleagues to find useful public resources</li>
</ul>
  <br><br>
  <b> Project Outcome:</b>
  <br><br>
  Hundreds have attended since implementation, with outcomes ranging from better reproducibility through code, being able to exponentially speed up analysis through use of cloud compute and HPC, helping researchers with better data security and storage and generally opening up resources and capabilities for researchers.
  <br>
  We also became a casual meeting place to find others across the university doing similar research, and a referral point/liason for researchers to services such as networking, storage and database teams.
  <br>
  To share my learnings on how to set up similar groups, I authored the <a href="https://github.com/amandamiotto/HackyHourHandbook">"Hacky Hour Handbook"</a> lessons learnt, helpful resources and groups to target. Around this time, I migrated into my QCIF role, where these teachings and meetup models were adapted by all Queensland universities.

  <br><br>
  <b>Acknowledged Contributions:</b>
    <br>
    <table style="width: 100%;text-align: left;">
    <br>
    <tbody>    
      <tr class="" >
        <td><a href="https://research-repository.griffith.edu.au/handle/10072/422984">The Feeding Ecology of Southern Hemisphere Humpback Whales (Megaptera novaeangliae) in a Changing Antarctic Ecosystem</a></td>
        <td></td>
        <td style="vertical-align: top;">Jasmin Gross<br></td>
        <td></td>
        <td style="vertical-align: top;">2021- Thesis</td>
      </tr>
       <tr >
        <td><a href="https://research-repository.griffith.edu.au/bitstream/handle/10072/389679/Bentley,%20Steven_Final%20Thesis_redacted.pdf?sequence=4">Finding New Molecular Targets for Parkinson's Disease through Gene Hunting in Queensland Families with Inherited Parkinsonism</a></td>
        <td></td>
        <td style="vertical-align: top;">Bentley, Steven R<br></td>
        <td></td>
        <td style="vertical-align: top;">2019 - Thesis</td>
      </tr>
      <tr class="" >
        <td><a href="https://academic.oup.com/jcb/article/38/2/166/4857216?login=false">De novo SNP discovery and strong genetic structuring between upstream and downstream populations of Paratya australiensis Kemp, 1917</a></td>
        <td></td>
        <td style="vertical-align: top;">Sharmeen Rahman, Daniel Schmidt, Jane Hughes<br></td>
        <td></td>
        <td style="vertical-align: top;">2018 - Journal of Crustacean Biology</td>
      </tr>
      <tr class="" >
        <td><a href="https://research-repository.griffith.edu.au/bitstream/handle/10072/381063/e%20Souza%20Reis%2cVanessa_Final%20Thesis_redacted.pdf?sequence=1&isAllowed=y">Integrated conservation planning for river-wetland mosaics</a></td>
        <td></td>
        <td style="vertical-align: top;">e Souza Reis, Vanessa<br></td>
        <td></td>
        <td style="vertical-align: top;">2018 Thesis</td>
      </tr>
      <tr class="" >
        <td><a href='https://www.academia.edu/77232997/The_Effects_of_Consumption_and_Exercise_Stereotypes_on_Evaluations_How_do_People_Shape_Up_in_the_Eyes_of_Their_Beholders'>The Effects of Consumption and Exercise Stereotypes on Evaluations: How do People Shape Up in the Eyes of Their Beholders?</a></td>
        <td></td>
        <td style="vertical-align: top;">Lori Ellen Leach<br></td>
        <td></td>
        <td style="vertical-align: top;">2014 - Thesis</td>
      </tr>
      </tbody>
   </table>

<br>
  <button class="techLang">Python</button>
  <button class="techLang">Linux (multiple flavours)</button>
  <button class="techLang">High Performance Compute</button>
  <button class="techLang">Cloud Compute (Open Stack, Google Cloud, Azure)</button>
  <button class="techLang">Matlab</button>
  <button class="techLang">C (basic knowledge)</button>
</div>
<br>
<br>



<div class="" id="Strat2">
    <table style="width: 100%;">
        <tr style="text-align: left; ">
        <td style="vertical-align: top;">
          <h5>Research Bazaar Qld Conference</h5>
        </td>
      <td style="text-align: right;" >
    2016-Ongoing
    </td></tr>
    </table>
    <br>
    
    <b>Project Description:</b>
    <br>
    The Qld Research Bazaar Conference is aimed at researchers, research students and interested colleagues who want to improve their data and technical skills. This conference offers educational workshops, talks, activities and networking opportunities with a focus on open data and technologies.
  <br>
    <br><br>
  <b>My Role in Project:</b>
  <br><br>
    <ul>
      <li>Part of the initial group to bring the event to Qld</li>
      <li>Organizing Committee member</li>
      <li>Primary Organizer for 2018 and 2022 (hosted at Griffith Uni)</li>
      <li>Wrote and succesfully pitching Proposals</li>
      <li>Coordinated Workshops, teachers, helpers, speakers and Sponsors</li>
      <li>Organizing financial accounts for 2018 and 2022</li>
      <li>Reaching out to sponsors and organizing sponsorship funds</li>
      <li>Teaching and assisting in many workshops</li>
      <li>Speaker and MC</li>
      <li>Updating webpages/Social media ads</li>
    </ul>
    
    <b> Project Outcome:</b>
    <br>
    This conference attracts 250-350 attendees every year, and is fully run by volunteers and university support staff. We run 15-20 workshops every year, host many speakers including Dr Julia Playford, Executive Director of Science Development at Queensland’s Department of Environment and Science, Professor Hugh Possingham, Queensland’s Chief Scientist.
  <br><br>
  We are proud to run as a non-profit conference, and keep our conference as low cost as possible. In more recent years, through sponsorship, we have been able to offer accessibility grants, to assist our diverse audiences to attend, as well as free tickets for all volunteers and any attendees who are unable to pay. We pride ourselves in our diversity, reflected in our committee, our speakers, teachers and our ethos.
    <br><br>
    Conference name and year - Location - Interesting links
<table style="width: 100%;text-align: left;">
    <br>
    <tbody>    
      <tr>
        <td>2023 Resbaz Qld</td>
        <td>Uni of Qld</td>
        <td><a href="https://resbaz.github.io/resbaz2023qld/">Webpage</a></td>
      </tr>
      <tr>
        <td>2022 Resbaz Qld</td>
        <td>Griffith University</td>
        <td><a href="https://amandamiotto.github.io/resbaz2022qld">Webpage</a> and <a href="https://www.qcif.edu.au/news/resbazqld-proves-its-value/">Recap</a></td>
      </tr>
      <tr>
        <td>2021 Resbaz Qld</td>
        <td>Uni of Qld</td>
        <td><a href="https://resbaz.github.io/resbaz2021/brisbane/">Webpage</a></td>
      </tr>
      <tr>
        <td>2019 Resbaz Brisbane</td>
        <td>QUT</td>
        <td><a href="https://resbaz.github.io/resbaz2019/brisbane/">Webpage</a></td>
      </tr>
      <tr>
        <td>2018 Resbaz Brisbane</td>
        <td>Griffith Uni</td>
        <td><a href="https://resbaz.github.io/resbaz2018/brisbane/">Webpage</a> and <a href="https://resbaz.github.io/resbaz2018/brisbane/ResbazInfo.pdf">Recap</a></td>
      </tr> 
     <tr>
        <td>2017 Resbaz Brisbane</td>
        <td>Uni of Qld</td>
        <td><a href="https://rcc.uq.edu.au/article/2017/02/highlights-resbaz-2017">Recap</a></td>
      </tr>
     <tr>
        <td>2016 Resbaz Brisbane</td>
        <td>QUT</td>
        <td><a href="https://rcc.uq.edu.au/article/2016/02/brisbanes-first-resbaz-becomes-resbuzz">Recap</a></td>
      </tr>      
    </tbody>
</table>
  <br>
</div>
<br>
<br>

Health hack


Suggested data management changes and grant/directions


