
<h2>Education</h2>

{% include FormQual.html %}

<br>
{% include Certs.html %}
<br>
<hr>
<br>
{% include EmpH.html %}
<br>
<hr>
<br>
{% include TechSkills.html %}
<br>
<hr>
<br>
{% include Proj.html %}
<br>
<hr>
<br>
<br>
{% include Initiatives.html %}
<br>
<h1>Communication Experience</h1>
<br>
{% include Talks.html %}
<br>
<br>
<br>
{% include Workshops.html %}
<br>
<hr>
<br>
<br>
<h1>Academic Work</h1>
<br>
{% include Publications.html %}
<br>
<hr>
<br><br>
{% include Grants.html %}
<br>
<hr>
<br><br>
{% include GroupP.html %}
<br>

