{% include CareerObjective.html %}
<br>
<hr>
<br>
<div id='education'><h2>Education</h2></div>

{% include FormQual.html %}

<br>
{% include Certs.html %}
<br>
<hr>
<br>
{% include EmpH.html %}
<br>
<hr>
<br>
{% include TechSkills.html %}
<br>
<hr>
<br>
{% include Proj.html %}
<br>
<hr>
<br>
<br>
{% include Initiatives.html %}
<br>
<hr>
<br>
<div id='comms'>h1>Communication Experience</h1></div>
<br>
<br>
{% include OrgsnCommittees.html %}
<br>
<hr>
<br>
{% include Talks.html %}
<br>
<hr>
<br>
{% include Workshops.html %}
<br>
<hr>
<br>
<br>
<div id='academic'><h1>Academic Work</h1></div>
<br>
{% include Publications.html %}
<br>
<hr>
<br><br>
{% include Grants.html %}
<br>
<hr>
<br><br>
{% include GroupP.html %}
<br>

