
<h2>Education</h2>

<h3> Formal Qualifications </h3><br>
<table style="width: 100%;">
<thead>
  <tr>
    <th style="width:60%">Degree</th>
    <th style="width:30%">Institute</th>
    <th style="width:10%">Year Completed</th>
  </tr>
</thead>
<tbody>    
{% for t in site.data.LargeQual %}
    <tr class="{{ t.Tags | join:" " }}">
    <td>{{ t.name }}
       </td>
    <td>{{ t.institute }}</td>
    <td>{{ t.Completed }}</td>
  </tr>
{% endfor %}
</tbody>
  </table>


<br>
<h3> Certifications and Short Courses </h3>

<table style="width: 100%;">
<thead>
  <tr>
    <th>Degree</th>
    <th>Institute</th>
    <th>Year Completed</th>
  </tr>
</thead>
<tbody>    
{% for t in site.data.Qual %}
    <tr class="{{ t.Tags | join:" " }}">
    <td><a href="{{t.url}}">{{ t.name }}</a>
       {% if t.SubQuals %}
       <details><summary>See Details</summary>
         <ul>
         {% for SubQual in t.SubQuals %}
            <li>{{ SubQual }}</li>
         {% endfor %}
         </ul>
       </details>
       {% endif %}
       </td>
    <td>{{ t.institute }}</td>
    <td>{{ t.Completed }}</td>
  </tr>
{% endfor %}
</tbody>
  </table>

<h2> Employment History </h2>
<table style="width: 100%;">
<thead>
  <tr>
    <th>Role</th>
    <th>Institute</th>
    <th>Year</th>
  </tr>
</thead>
<tbody>    
{% for t in site.data.EmpHist %}
    <tr class="{{ t.Tags | join:" " }}">
    <td>{{ t.Role }}
       {% if t.SubRoles %}
       <details><summary>See Details</summary>
         <ul>
         {% for SubRole in t.SubRoles %}
            <li>{{ SubRole }}</li>
         {% endfor %}
         </ul>
       </details>
       {% endif %}
     <!--  {{ t.Responsibilties }} -->
       </td>
    <td>{{ t.Institute }}</td>
    <td>{{ t.Yrs }}</td>
  </tr>
{% endfor %}
   </tbody>
  </table>
<br><br>
<h2>Projects</h2>
<br>
{% for t in site.data.Projects %}
<div class="{{ t.Tags | join:" " }}">
  <h4>{{ t.ProjName }}</h4>
  <div style="text-align: right;" >
    {% if t.Group %}
      {{ t.Group }} - 
    {% endif %}
  {{ t.Year }}
  <br>
  </div>
  <b>Project Description:</b>
  <br>
  {{ t.ProjDesc }}
  <br><br>
  <b> Project Outcome:</b>
  <br>
  {{ t.Outcome }}
  <br><br>
  <b>My Role in Project:</b>
  <br>
  {% for SubRole in t.MyRole %}
            - {{ SubRole }}<br>
  {% endfor %}
</div>
<br>
<br>
{% endfor %}
