
<div class="sidenav">
   <img src="{{ site.baseurl }}/assets/ProfilePhoto.png" alt="profile picture" />

   <h2>Amanda Miotto</h2>
      
   {% if site.linkedin %}
      <a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank">{{ site.linkedin }}</a>
   {% endif %}
 <!--       
   {% if site.github %}
      <a href="http://github.com/{{ site.github }}" target="_blank">{{ site.github }}</a>
   {% endif %}
    
   {% if site.twitter %}
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">{{ site.twitter }}</a>
   {% endif %}
        
   {% if site.email %}
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
   {% endif %}

-->
    </div>
