<script>
$(document).ready(function(){

    $('table.display').DataTable( {
        ordering: true
    }
        );
});
</script>

<table id="TalkTable" class="display">
   <thead>
      <tr>
         <th>Title</th>
         <th>Location</th>
         <th>Year</th>
         <th>Topic</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Parameter 1</td>
         <td>Sample description
         </td>
         <td>Sample type</td>
         <td>Sample default value</td>
      </tr>
      <tr>
         <td>Parameter 2</td>
         <td>Sample description
         </td>
         <td>Sample type</td>
         <td>Sample default value</td>
      </tr>
   </tbody>
</table>

