<script>
$(document).ready(function(){

    $('table.display').DataTable( {
        ordering: true,
        order:[[ 2, 'desc' ],[ 1, 'asc' ]],
        paging: false
    }
        );
});
</script>
<br>
<table id="TalkTable" class="display">
   <thead>
      <tr>
         <th>Title</th>
         <th>Location</th>
         <th>Year</th>
         <th>Topic</th>
      </tr>
   </thead>
   <tbody>
       {% for row in site.data.talks %}
      <tr>
        {% if row["URL"] %}
         <td><a href='{{ row["URL"] }}'>{{ row["Title"] }}</a></td>
        {% else %}
         <td>{{ row["Title"] }}</td>
        {% endif %}
         <td>{{ row["Location"] }}</td>
         <td>{{ row["Year"] }}</td>
         <td>{{ row["Topic"] }}</td>
      </tr>
       {% endfor %}
   </tbody>
</table>

