<script>
$(document).ready(function(){

    $('table.display').DataTable( {
        ordering: true
    }
        );
});
</script>

<table id="TalkTable" class="display">
   <thead>
      <tr>
         <th>Title</th>
         <th>Location</th>
         <th>Year</th>
         <th>Topic</th>
      </tr>
   </thead>
   <tbody>
       {% for row in site.data.talks %}
      <tr>
         <td><a href='{{ row["URL"] }}'>{{ row["Title"] }}</a></td>
         <td>{{ row["Location"] }}</td>
         <td>{{ row["Year"] }}</td>
         <td>{{ row["Topic"] }}</td>
      </tr>
       {% endfor %}
   </tbody>
</table>

