body {
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica", Sans-Serif;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
  font-family: "Helvetica", Sans-Serif;
}
.sidenav {
  background-color: lightgray;
  -webkit-flex: 1;
  flex: 1;
}
.content {
  background-color: lightblue;
  padding: 10px;
  -webkit-flex: 5;
  flex: 5;
}
img {
  max-width:90%;
}
