/* dark grey colour to match the below palette 6D696A 
Or you can go a dark olive 0E3B43 and tan 65532F as well as the two below
*/


body {
  min-height: 100%;
  font-family: "Helvetica", Sans-Serif;
}

.flex-container {
  display: flex;
  min-height: 100%;
  font-family: "Helvetica", Sans-Serif;
  flex-direction: row;
  /*justify-content: center;
  align-items: stretch;
  margin: auto;*/
}
.sidenav {
  order: 2;
  background-color: #A2A7A5;
  flex-grow: 1;
  justify-content: center;
  /* align: center; */
  text-align: center;
  padding: 20px; 
  /* margin: auto; */
}
.content {
  order: 1;
  background-color: #E2DADB;
  padding: 30px;
  flex-grow: 5;
}
img {
  /*max-width:80%;
  display: flex;
  justify-content: center;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media only screen and (max-device-width: 480px){
  .flex-container {
    flex-direction: column;
    flex-wrap: wrap
  }
  
.sidenav {
  order: 1;
  }
.content {
  order: 2;
  }
}
