/* dark grey colour to match the below palette 6D696A 
Or you can go a dark olive 0E3B43 and tan 65532F as well as the two below
*/

body {
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica", Sans-Serif;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
  font-family: "Helvetica", Sans-Serif;
  flex-direction: row;
}
.sidenav {
  background-color: #A2A7A5;
  -webkit-flex: 1;
  flex: 1;
  align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content {
  background-color: #E2DADB;
  padding: 10px;
  -webkit-flex: 5;
  flex: 5;
}
img {
  max-width:90%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
